.video-Wrapper__body {
    background-color: #fff;
    margin: 0 5px;
    border: 1px solid #c5c5c5;
    padding: 10px;

}
.video-Wrapper__body h1 {
    font-size: 25px;
    font-weight: 400;
    color: #4d4d4d;
    margin: 15px 0;
    padding: 0 10px;
}
.video-Wrapper__iframe {
    width: 100%;
    height: 300px;
    border: 0;
}
